:root{
    height: 100vh;
    background-image: url("../public/windows_xp.webp");
    background-size: cover;
}

.close{
    visibility: hidden;
}


/*.selected p{*/
/*    background: darkblue;*/
/*    color: white;*/
/*    text-align: center;*/
/*}*/

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}